.container a{
    text-decoration:none;
    color: inherit;
}

.container .articles{
    transition: 0.4s ease-in-out;
    border: 2px solid rgba(0, 0, 0, 0);
} 

.container .articles:hover{
    border: 2px solid rgb(255, 255, 255);
}

.created-date{
    text-decoration: underline;
}